# Files
*.PrjPCBStructure
*.PrjPcbStructure
*.PrjCorStructure
*.SchDocPreview
*.PcbDocPreview
*.PcbDoc.htm
*.drc
*.html
*.log

# Folders
__Previews/
History/
Project Logs for*/

# Generated output
!Project Outputs/*.PDF
!Project Outputs/*.pdf
Status Report.txt
BOM/
ExportSTEP/
Gerber/
NC Drill/
ODB/
Pick Place/
Test Points/

# Solidworks
~*
